{% extends 'base.html.twig' %}

{% block title  'voir nos bien!' %}

{% block body %}
    <div class="container mt-4">
        <h1>Voir nos bien</h1>
        <p>Bienvennue dans notre agence blabala immoblier satisfait ou rembourser  ...</p>
    </div>
{% endblock %}
